*,
*::before,
*::after{
    box-sizing: border-box;
}

:root{
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;

    --fw-reg: 300;
    --fw-bold: 900;
    
    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #16e0bd;
    
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

html {
    scroll-behavior: smooth;
}



body{
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

section{
    padding: 4em 10em;
}



h1,
h2,
h3 {
    line-height: 1.1;
    margin: 0;
}

h1 { font-size: var(--fs-h1) }
h2 { font-size: var(--fs-h2) }
h3 { font-size: var(--fs-h3) }


.section-subtitle {
    margin: 0;
    font-size: var(--fs-h3);
}

.section-title{
    font-size: var(--fs-h1);
    font-weight: var(--fw-reg);
    margin-bottom: .25em;
}

.section-title strong{
    display: block;
    font-weight: var(--fw-bold);
}

.footer,
.section-subtitle {
    background: yellowgreen;
    font-family: var(--ff-secondary);
    padding: .25em 1em;
    margin-bottom: 1em;


}

.intro-img {        
    max-width: 350px;
    position: relative;
} 

.intro{
    position: relative;
}

@media (min-width: 600px) {
    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas: 
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
    }
    .intro-img {        
        grid-area: img;
        z-index: 2;
    } 
    .section-subtitle-intro {
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -2em;
    }
}

@media (min-width: 600px) {
    .about-me {
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-template-areas: 
            "title img"
            "subtitle img"
            "text img";
        grid-column-gap: 2em;
    }
    
    .section-title-about {
        grid-area: title;
    }
    
    .section-subtitle-about {
        grid-column: 1 / -1;
        grid-row: 1.5;
        position: relative;
        left: -1em;
        width: calc(100% + 2em);
        padding-left: 1em;
        padding-right: calc(200px + 4em);
    }

    .about-me-body{
        font-family: var(--ff-secondary);
        grid-column: 1/-1;
        position: relative;
        padding-left: 3em;
        padding-right: 3em;



    }
}


.section__title--services {
    position: relative;
}


@media (min-width: 800px) {
    .services {
        display: flex;
        max-width: 5000px;
        margin: 0 auto;
    }
    
    .section-subtitle-skills{
    margin-left: -1.6em;
    }

    .service {
        margin-left: 1em;
    }
}
.section-subtitle-portfolio{
    position: relative;
    text-align: center;
}

.portfolio-img{
    display: block;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.portfolio p{
    padding-left: 20%;
    padding-right: 20%;

    text-align: center;
    font-size: var(--ff-secondary);

}



.footer{
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.logo {
    max-width: 100px;
}

.nav {
    position: fixed;
    background: var(--clr-dark);
    color: var(--clr-light);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.nav_list {
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav__link {
    color: inherit;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h2);
    text-decoration: none;
}

.nav__link:hover {
    color: yellowgreen;
}

.nav-toggle {
    padding: .5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 1000;
}

.nav-open .nav{
    transform: translateX(0);

}

.nav-open .nav-toggle {
    position: fixed;
}



.hamburger {
    display: block;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    background: yellowgreen;
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}


.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before { top: 6px; }
.hamburger::after { bottom: 6px; }

